/* https://codepen.io/z-/pen/bpxgWZ?editors=0110 */

@keyframes sand {
    0% {
        opacity: 0;
        left: 100vw;
        transform: rotate(0deg);
    }
    20% { /* show and hint at moving */
        opacity: 1;
        /*transform: translateX(1000%);*/
    }
    100% {
        opacity: 0;
        left: -10vw;
        transform: rotate(360deg);
        /*transform: translateX(-1000%); !* Big sand particles move faster *!*/
    }
}

.particle {
    opacity: 0;
    position: absolute;
    background-color: rgba(183, 147, 1, 0.5);
    animation: sand 4s ease-in;
    /*border-radius: 100%;*/
}
