@keyframes banner-transition {
    0% {
        background-color: #280338;
    }
    20% {
        background-color: #280338;
    }
    100% {
        background-color: #C92C39;
    }
}

.banner {
    color: #B79301;
    height: 100vh;
    width: 100vw;
    background-color: #C92C39;
    animation-name: banner-transition;
    animation-duration: 8s;
    overflow: hidden;
}

@keyframes reform {
    0% {
        height: 40vh;
        background-color: #5C0029;
    }
    25% {
        height: 40vh;
        top: 20vh;
        background-color: #5C0029;
    }
    50% {
        top: 60vh;
        height: 0;
    }
    100% {
        top: 20vh;
        height: 40vh;
        background-color: #598B2C;
    }
}

.building {
    height: 40vh;
    width: 30vw;
    position: absolute;
    top: 20vh;
    left: 15vw;
    background-color: #598B2C;
    animation: reform 8s;
}

@keyframes grow {
    0% {
        height: 0;
    }
    25% {
        height: 0;
    }
    50% {
        top: 60vh;
        height: 0;
    }
    100% {
        top: 40vh;
        height: 20vh;
    }
}

.happy-worker {
    height: 20vh;
    width: 20vw;
    background-color: #7ABC40;
    position: absolute;
    top: 40vh;
    left: 60vw;
    max-width: 150px;
    overflow: hidden;
    animation: grow 9s;
}

.logo-line {
    width: 80%;
    height: 2vh;
    background-color: #B79301;
    position: absolute;
    top: 60vh;
    left: 10%;
}

@keyframes name {
    0% {
        height: 0px;
        overflow: hidden;
    }
    35% {
        height: 0px;
    }
    100% {
        height: 400px;
    }
}

.name {
    font-size: 20vw;
    font-weight: bold;
    top: 60vh;
    vertical-align: top;
    line-height: 16vw;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation-name: name;
    animation-duration: 10s;
    animation-iteration-count: 1;
    overflow: hidden;
}

@media (max-width: 500px) {
    .name {
        line-height: 20vw;
    }
}

@media (max-width: 300px) {
    .name {
        line-height: 22vw;
    }
}
