.in-progress {
    min-height: 70vh;
    width: 100vw;
    background-color: #280338;
    color: #C92C39;
    margin: 0;
    overflow: auto;
    padding: 14vh 12vw;
}

.text-panel > p{
    opacity: 1;
}

a {
    color: inherit;
}

.cta {
    width: 35vw;
    height: 10vh;
    background-color: #C92C39;
    border-radius: 8px;
    display: inline-block;
    text-decoration: none;
    color: #280338;
    padding: 2vh;
}

@media (max-width: 500px) {
    .in-progress {
        text-align: left;
    }
}
